/* PoE Helper app stylesheet. */
* {
    font: 9pt Fontin;
    background-color: black;
    color: #962;
}

img {
    vertical-align:middle;
}

QPushButton, QTextEdit, QLineEdit, QTextBrowser {
    border: 1px solid #552; 
    outline: 0;
}

QPushButton:hover {
    background-color: #310;
    border-color: #310;
}
    
ToggleGroup, PluginPanel {
    border: 2px solid #310;
    border-radius: 5px;
    padding: 4px 0 0 0;
    margin: 0;
}

ToggleGroup::title, PluginPanel::title {
    top: 0px;
    bottom: 5px;
    min-height: 20px;
    subcontrol-origin: margin;
    subcontrol-position: top center;
}

QPushButton#toggle {
    background-color: #111;
    height: 20px;
    min-height: 20px;
    max-height: 20px;
}

QPushButton#toggle:checked {
    background-color: #310;
}

a {
    color: #730;
    text-decoration: none;
}

a:hover {
    color: #777;
    text-decoration: none;
}
